<header class="hotel__management__header">
  <div class="hotel__management__header__actions">
    <img
      [src]="
        isMenuOpen
          ? 'assets/icons/close-icon.svg'
          : 'assets/icons/menu-icon.svg'
      "
      alt="Abrir menu"
      class="hotel__management__menu__icon"
      (click)="toggleMenu()"
    />
    <img
      src="../assets/icons/hotel-logo.svg"
      alt="Logo do aplicativo de gestão de hotelaria"
      class="hotel__management__logo"
    />
    <div class="hotel__management__pages">
      <a class="hotel__management__page" routerLink="/home">Home</a>
      <a class="hotel__management__page" routerLink="/hospedes">Hóspedes</a>
      <a class="hotel__management__page" routerLink="/reservas">Reservas</a>
    </div>
  </div>
  <div
    class="theme__select"
    [ngClass]="
      themeService.isDarkMode() ? 'theme__select--dark' : 'theme__select--light'
    "
    (click)="themeService.toggleTheme()"
  >
    <img
      src="/assets/icons/moon-icon.svg"
      alt="Altera o tema padrão claro ou escuro"
      class="theme__icon"
      [ngClass]="{ 'theme__icon--hidden': themeService.isDarkMode() }"
    />
    <div *ngIf="themeService.isDarkMode()"></div>
    <img
      src="/assets/icons/sun-icon.svg"
      alt="Altera o tema padrão claro ou escuro"
      class="theme__icon"
      [ngClass]="{ 'theme__icon--hidden': !themeService.isDarkMode() }"
    />
  </div>
</header>
<main
  class="hotel__management__main custom__scroll"
  [ngClass]="themeService.isDarkMode() ? 'dark__mode' : 'light__mode'"
>
  <router-outlet />
</main>
<section
  class="hotel__management__menu"
  [ngClass]="{ 'hotel__management__menu--open': isMenuOpen }"
>
  <a
    class="hotel__management__page"
    routerLink="/home"
    (click)="isMenuOpen = false"
    >Home</a
  >
  <a
    class="hotel__management__page"
    routerLink="/hospedes"
    (click)="isMenuOpen = false"
    >Hóspedes</a
  >
  <a
    class="hotel__management__page"
    routerLink="/reservas"
    (click)="isMenuOpen = false"
    >Reservas</a
  >
</section>
