<section class="hotel__management__actions">
  <app-breadcrumbs
    [previousPageText]="'Home'"
    [currentPageText]="'Hóspedes'"
    (backFunction)="goToHome()"
  ></app-breadcrumbs>
  <div class="hotel__management__actions__buttons">
    <button class="hotel__management__actions__button" (click)="goToAddGuest()">
      <img
        src="assets/icons/add-user.svg"
        alt="Adicionar novo hóspede"
        class="hotel__management__actions__button__icon"
      />
      Adicionar Hóspede
    </button>
    <button class="hotel__management__actions__button" (click)="toggleFilters()">
      <img
        src="assets/icons/filter.svg"
        alt="Filtrar hóspedes"
        class="hotel__management__actions__button__icon"
      />
      Filtrar Hóspedes
    </button>
  </div>
</section>
<section *ngIf="showFilters" class="hotel__guests__filters">
  <app-filter-component
    (applyFiltersEvent)="onApplyFilters()"
    (clearFiltersEvent)="onClearFilters()"
    (closeEvent)="onCloseFilters()"
  >
    <div class="filter__field">
      <mat-form-field appearance="outline">
        <mat-label>Nome</mat-label>
        <input matInput [(ngModel)]="filterName" />
      </mat-form-field>
    </div>
    <div class="filter__field">
      <mat-form-field appearance="outline">
        <mat-label>Documento</mat-label>
        <input matInput [(ngModel)]="filterDocument" />
      </mat-form-field>
    </div>
    <div class="filter__field">
      <mat-form-field appearance="outline">
        <mat-label>Telefone</mat-label>
        <input matInput [(ngModel)]="filterPhone" />
      </mat-form-field>
    </div>
    <div class="filter__field">
      <mat-form-field appearance="outline">
        <mat-label>Status da reserva</mat-label>
        <mat-select [(ngModel)]="filterStatus">
          <mat-option [value]="''">Selecionar status</mat-option>
          <mat-option [value]="'CHECKED_IN'">Hóspede hospedado</mat-option>
          <mat-option [value]="'RESERVED'">Reserva pendente</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </app-filter-component>
</section>
<section class="hotel__guests__list">
  <app-hotel-guests-table></app-hotel-guests-table>
</section>
